{% extends 'account/base.html' %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="container">
    <div class="main-body">
          <!-- Breadcrumb -->
          {% include 'account/top_menu.html' %}
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">

            <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">

                    <div class="col-sm-9 text-secondary">
                        {{ form.old_password.errors }}
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                    </div>
                  </div>
                  <hr>
                    <div class="row">
                    <div class="col-sm-9 text-secondary">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        {% if form.new_password1.help_text %}
                        <div class="help">{{ form.new_password1.help_text|safe }}</div>
                        {% endif %}
                    </div>
                  </div>
                  <hr>
                    <div class="row">
                    <div class="col-sm-9 text-secondary">
                        {{ form.new_password2.errors }}
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        {% if form.new_password2.help_text %}
                        <div class="help">{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-info">Change Password</button>
                    </div>
                  </div>
                </form>
                </div>
              </div>

            </div>
          </div>

    </div>
</div>

{% endblock content %}